* {
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
.container {
  width: 1440px;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.gallery {
  padding: 24px 156px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-item {
  display: block;
  width: calc((100% - 48px) / 3);
  cursor: pointer;
}

.gallery-image {
  width: 360px;
  height: 200px;
}
